
@media (max-width: 600px) {
    .electronic-mob-style {
      height: 90px !important;
      border-radius: 10% !important;
    }

    .electronic-mob-pd{
        padding: 8px !important;
    }
    .cus-bottom-title {
      font-size: 10px !important;
    }
  }
  @media (min-width: 601px) and (max-width: 960px) {
    .electronic-mob-style {
      height: 350px;
    }
    .cus-bottom-title {
      font-size: 10px !important;
    }
  }
  @media (min-width: 961px) {
    .electronic-mob-style {
      height: 450px;
    }
  }
  